# First, we will import the Indeed training data set into Jupyter. 

Reading data from CSV with Pandas

In [3]:
with open ('C:\Users\hancojam\Documents\DataMiningNotebooks-master\data/training.csv') as fid:
    for idx, row in enumerate(fid):
        print row,
        if idx >=4:
            break

jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83,130
JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73,101
JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38,137
JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17,142

In [4]:
# now let's read in the same data using pandas to save it as a dataframe
import pandas as pd

df = pd.read_csv('C:\Users\hancojam\Documents\DataMiningNotebooks-master\data/training.csv') # read in the csv file

In [5]:
df.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83,130
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73,101
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38,137
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17,142
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16,163

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
jobId                  1000000 non-null object
companyId              1000000 non-null object
jobType                1000000 non-null object
degree                 1000000 non-null object
major                  1000000 non-null object
industry               1000000 non-null object
yearsExperience        1000000 non-null int64
milesFromMetropolis    1000000 non-null int64
salary                 1000000 non-null int64
dtypes: int64(3), object(6)
memory usage: 68.7+ MB

In [7]:
#Create a list of Categorical Variables
categ_features = ['jobType, degree, major, industry'];

Calculate the median, min and max years of experience, miles from metropolis and salary from the training data set

In [8]:
print df.yearsExperience.min(), df.milesFromMetropolis.min(), df.salary.min()

0 0 0

In [10]:
print df.yearsExperience.median(), df.milesFromMetropolis.median(), df.salary.median()

12.0 50.0 114.0

In [9]:
print df.yearsExperience.max(), df.milesFromMetropolis.max(), df.salary.max()

24 99 301

Noticed that the minimum salary is zero. Since those zeros represent missing data, we will need to impute a best estimate for those values or remove them. First lets identify how many zeros are in the dataset by creating a dictionary of the counts of the salaries in the dataset

In [11]:
counts = df.salary.value_counts()
dict(counts)

{0: 5,
 17: 1,
 18: 3,
 19: 10,
 20: 43,
 21: 49,
 22: 63,
 23: 107,
 24: 129,
 25: 173,
 26: 232,
 27: 309,
 28: 347,
 29: 463,
 30: 518,
 31: 553,
 32: 614,
 33: 743,
 34: 800,
 35: 927,
 36: 1096,
 37: 1108,
 38: 1197,
 39: 1356,
 40: 1449,
 41: 1622,
 42: 1660,
 43: 1816,
 44: 1904,
 45: 2018,
 46: 2248,
 47: 2300,
 48: 2410,
 49: 2516,
 50: 2655,
 51: 2831,
 52: 3000,
 53: 3087,
 54: 3278,
 55: 3332,
 56: 3491,
 57: 3622,
 58: 3803,
 59: 4026,
 60: 4087,
 61: 4384,
 62: 4357,
 63: 4592,
 64: 4706,
 65: 4984,
 66: 5142,
 67: 5258,
 68: 5344,
 69: 5606,
 70: 5797,
 71: 5851,
 72: 6096,
 73: 6173,
 74: 6464,
 75: 6551,
 76: 6730,
 77: 6933,
 78: 7166,
 79: 7221,
 80: 7588,
 81: 7353,
 82: 7879,
 83: 7930,
 84: 8026,
 85: 8346,
 86: 8434,
 87: 8472,
 88: 8724,
 89: 8775,
 90: 9066,
 91: 9189,
 92: 9228,
 93: 9320,
 94: 9236,
 95: 9567,
 96: 9565,
 97: 9773,
 98: 9898,
 99: 9946,
 100: 9937,
 101: 10151,
 102: 10158,
 103: 10285,
 104: 10297,
 105: 10223,
 106: 10204,
 107: 10371,
 108: 10467,
 109: 10243,
 110: 10270,
 111: 10179,
 112: 10361,
 113: 10182,
 114: 10407,
 115: 10227,
 116: 10169,
 117: 10041,
 118: 9968,
 119: 10080,
 120: 9835,
 121: 9800,
 122: 9748,
 123: 9723,
 124: 9685,
 125: 9594,
 126: 9416,
 127: 9325,
 128: 9353,
 129: 9185,
 130: 8909,
 131: 8679,
 132: 8752,
 133: 8674,
 134: 8532,
 135: 8350,
 136: 8182,
 137: 8127,
 138: 7941,
 139: 7774,
 140: 7816,
 141: 7536,
 142: 7565,
 143: 7358,
 144: 7057,
 145: 6987,
 146: 6767,
 147: 6786,
 148: 6556,
 149: 6369,
 150: 6086,
 151: 6125,
 152: 5974,
 153: 5794,
 154: 5742,
 155: 5611,
 156: 5542,
 157: 5259,
 158: 5000,
 159: 5065,
 160: 4888,
 161: 4738,
 162: 4609,
 163: 4569,
 164: 4265,
 165: 4213,
 166: 4087,
 167: 3998,
 168: 3919,
 169: 3730,
 170: 3623,
 171: 3490,
 172: 3422,
 173: 3433,
 174: 3225,
 175: 3115,
 176: 3038,
 177: 2955,
 178: 2779,
 179: 2754,
 180: 2641,
 181: 2526,
 182: 2437,
 183: 2351,
 184: 2181,
 185: 2155,
 186: 2065,
 187: 2024,
 188: 1937,
 189: 1824,
 190: 1774,
 191: 1795,
 192: 1712,
 193: 1604,
 194: 1556,
 195: 1452,
 196: 1347,
 197: 1399,
 198: 1313,
 199: 1257,
 200: 1193,
 201: 1106,
 202: 1109,
 203: 1052,
 204: 967,
 205: 959,
 206: 886,
 207: 815,
 208: 841,
 209: 833,
 210: 776,
 211: 721,
 212: 689,
 213: 615,
 214: 599,
 215: 572,
 216: 545,
 217: 481,
 218: 497,
 219: 497,
 220: 460,
 221: 421,
 222: 423,
 223: 364,
 224: 350,
 225: 355,
 226: 348,
 227: 349,
 228: 297,
 229: 254,
 230: 279,
 231: 235,
 232: 230,
 233: 190,
 234: 199,
 235: 198,
 236: 209,
 237: 183,
 238: 152,
 239: 155,
 240: 140,
 241: 126,
 242: 116,
 243: 127,
 244: 104,
 245: 106,
 246: 93,
 247: 90,
 248: 89,
 249: 69,
 250: 75,
 251: 65,
 252: 56,
 253: 62,
 254: 48,
 255: 44,
 256: 46,
 257: 35,
 258: 37,
 259: 29,
 260: 39,
 261: 27,
 262: 30,
 263: 26,
 264: 19,
 265: 19,
 266: 21,
 267: 19,
 268: 19,
 269: 5,
 270: 16,
 271: 16,
 272: 10,
 273: 14,
 274: 10,
 275: 11,
 276: 5,
 277: 4,
 278: 10,
 279: 4,
 280: 4,
 281: 3,
 282: 6,
 283: 5,
 284: 3,
 285: 4,
 286: 3,
 287: 2,
 288: 2,
 289: 3,
 290: 1,
 292: 2,
 293: 2,
 294: 2,
 298: 1,
 301: 2}

In [13]:
#Get Summary Statistics from the Data Frame
df.describe()

       yearsExperience  milesFromMetropolis          salary
count   1000000.000000       1000000.000000  1000000.000000
mean         11.992386            49.529260      116.061818
std           7.212391            28.877733       38.717936
min           0.000000             0.000000        0.000000
25%           6.000000            25.000000       88.000000
50%          12.000000            50.000000      114.000000
75%          18.000000            75.000000      141.000000
max          24.000000            99.000000      301.000000

In [16]:
#Now Lets Replace the Zero Salary Values with Not a Number
df = df[df.salary != 0]

In [18]:
df.describe()

       yearsExperience  milesFromMetropolis         salary
count    999995.000000        999995.000000  999995.000000
mean         11.992407            49.529381     116.062398
std           7.212390            28.877721      38.717163
min           0.000000             0.000000      17.000000
25%           6.000000            25.000000      88.000000
50%          12.000000            50.000000     114.000000
75%          18.000000            75.000000     141.000000
max          24.000000            99.000000     301.000000

In [32]:
df.loc[df['major'] == 'None', 'major'] = 'NoneM'

In [36]:
major = df.loc[df['major'].value_counts()

SyntaxError: unexpected EOF while parsing (<ipython-input-36-445ebb093aff>, line 1)

In [25]:
major_keys = ['major'];

In [30]:
df = df.replace[major_keys](to_replace='none',value = 'noneM')

TypeError: 'instancemethod' object has no attribute '__getitem__'

In [29]:
major = df.major.value_counts()
dict(major)

{'BIOLOGY': 58379,
 'BUSINESS': 58518,
 'CHEMISTRY': 58875,
 'COMPSCI': 58382,
 'ENGINEERING': 58594,
 'LITERATURE': 58684,
 'MATH': 57800,
 'NONE': 532353,
 'PHYSICS': 58410}

In [31]:
df.loc[df['major'] == none, 'major'] = 1

NameError: name 'none' is not defined