# First, we will import the Indeed training data set into Jupyter. 

Reading data from CSV with Pandas

In [1]:
with open ('/training.csv') as fid:

    for idx, row in enumerate(fid):
        print row,
        if idx >=4:
            break

IOError: [Errno 2] No such file or directory: '/training.csv'

In [2]:
# now let's read in the same data using pandas to save it as a dataframe
import pandas as pd

df = pd.read_csv('/training.csv') # read in the csv file

IOError: File /training.csv does not exist

In [5]:
df.head()

NameError: name 'df' is not defined

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
jobId                  1000000 non-null object
companyId              1000000 non-null object
jobType                1000000 non-null object
degree                 1000000 non-null object
major                  1000000 non-null object
industry               1000000 non-null object
yearsExperience        1000000 non-null int64
milesFromMetropolis    1000000 non-null int64
salary                 1000000 non-null int64
dtypes: int64(3), object(6)
memory usage: 68.7+ MB

In [9]:
#Create a list of Categorical Variables
categ_features = ['jobType, degree, major, industry'];

Calculate the median, min and max years of experience, miles from metropolis and salary from the training data set

In [8]:
print df.yearsExperience.min(), df.milesFromMetropolis.min(), df.salary.min()

NameError: name 'df' is not defined

In [10]:
print df.yearsExperience.median(), df.milesFromMetropolis.median(), df.salary.median()

NameError: name 'df' is not defined

In [186]:
print df.yearsExperience.max(), df.milesFromMetropolis.max(), df.salary.max()

24 99 301

Noticed that the minimum salary is zero. Since those zeros represent missing data, we will need to impute a best estimate for those values or remove them. First lets identify how many zeros are in the dataset by creating a dictionary of the counts of the salaries in the dataset

In [4]:
counts = df.salary.value_counts()
dict(counts)

NameError: name 'df' is not defined

In [188]:
#Get Summary Statistics from the Data Frame
df.describe()

       yearsExperience  milesFromMetropolis          salary
count   1000000.000000       1000000.000000  1000000.000000
mean         11.992386            49.529260      116.061818
std           7.212391            28.877733       38.717936
min           0.000000             0.000000        0.000000
25%           6.000000            25.000000       88.000000
50%          12.000000            50.000000      114.000000
75%          18.000000            75.000000      141.000000
max          24.000000            99.000000      301.000000

In [3]:
#Removed the Zero Salary Values
df = df[df.salary != 0]

NameError: name 'df' is not defined

In [190]:
df.describe()

       yearsExperience  milesFromMetropolis         salary
count    999995.000000        999995.000000  999995.000000
mean         11.992407            49.529381     116.062398
std           7.212390            28.877721      38.717163
min           0.000000             0.000000      17.000000
25%           6.000000            25.000000      88.000000
50%          12.000000            50.000000     114.000000
75%          18.000000            75.000000     141.000000
max          24.000000            99.000000     301.000000

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999995 entries, 0 to 999999
Data columns (total 9 columns):
jobId                  999995 non-null object
companyId              999995 non-null object
jobType                999995 non-null object
degree                 999995 non-null object
major                  999995 non-null object
industry               999995 non-null object
yearsExperience        999995 non-null int64
milesFromMetropolis    999995 non-null int64
salary                 999995 non-null int64
dtypes: int64(3), object(6)
memory usage: 76.3+ MB

In [192]:
titles = df.jobType.value_counts()
dict(titles)

{'CEO': 124778,
 'CFO': 124369,
 'CTO': 125045,
 'JANITOR': 124971,
 'JUNIOR': 124592,
 'MANAGER': 125120,
 'SENIOR': 125886,
 'VICE_PRESIDENT': 125234}

In [193]:
df.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83,130
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73,101
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38,137
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17,142
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16,163

In [194]:
import numpy as np
df = df.replace(to_replace='CEO',value=1)
df = df.replace(to_replace='CTO',value=2)
print df.head()

              jobId companyId         jobType       degree      major  \
0  JOB1362684407687    COMP37             CFO      MASTERS       MATH
1  JOB1362684407688    COMP19               1  HIGH_SCHOOL       NONE
2  JOB1362684407689    COMP52  VICE_PRESIDENT     DOCTORAL    PHYSICS
3  JOB1362684407690    COMP38         MANAGER     DOCTORAL  CHEMISTRY
4  JOB1362684407691     COMP7  VICE_PRESIDENT    BACHELORS    PHYSICS

  industry  yearsExperience  milesFromMetropolis  salary
0   HEALTH               10                   83     130
1      WEB                3                   73     101
2   HEALTH               10                   38     137
3     AUTO                8                   17     142
4  FINANCE                8                   16     163

In [195]:
df = df.replace(to_replace='CFO',value=3)
df = df.replace(to_replace='VICE_PRESIDENT',value=4)
df = df.replace(to_replace='SENIOR',value=6)
df = df.replace(to_replace='MANAGER',value=5)
df = df.replace(to_replace='JUNIOR',value=7)
df = df.replace(to_replace='JANITOR',value=8)
print df.head()

              jobId companyId  jobType       degree      major industry  \
0  JOB1362684407687    COMP37        3      MASTERS       MATH   HEALTH
1  JOB1362684407688    COMP19        1  HIGH_SCHOOL       NONE      WEB
2  JOB1362684407689    COMP52        4     DOCTORAL    PHYSICS   HEALTH
3  JOB1362684407690    COMP38        5     DOCTORAL  CHEMISTRY     AUTO
4  JOB1362684407691     COMP7        4    BACHELORS    PHYSICS  FINANCE

   yearsExperience  milesFromMetropolis  salary
0               10                   83     130
1                3                   73     101
2               10                   38     137
3                8                   17     142
4                8                   16     163

In [196]:
df.describe()

             jobType  yearsExperience  milesFromMetropolis         salary
count  999995.000000    999995.000000        999995.000000  999995.000000
mean        4.501762        11.992407            49.529381     116.062398
std         2.290272         7.212390            28.877721      38.717163
min         1.000000         0.000000             0.000000      17.000000
25%         3.000000         6.000000            25.000000      88.000000
50%         5.000000        12.000000            50.000000     114.000000
75%         6.000000        18.000000            75.000000     141.000000
max         8.000000        24.000000            99.000000     301.000000

In [197]:
df.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,JOB1362684407687,COMP37,3,MASTERS,MATH,HEALTH,10,83,130
1,JOB1362684407688,COMP19,1,HIGH_SCHOOL,NONE,WEB,3,73,101
2,JOB1362684407689,COMP52,4,DOCTORAL,PHYSICS,HEALTH,10,38,137
3,JOB1362684407690,COMP38,5,DOCTORAL,CHEMISTRY,AUTO,8,17,142
4,JOB1362684407691,COMP7,4,BACHELORS,PHYSICS,FINANCE,8,16,163

In [11]:
#Group by Salary to Determine Median Salary for Each Job Type to Confirm Proper Ordering
df.groupby(by='jobType').median()

NameError: name 'df' is not defined